* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

@mixin card {
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

@mixin btn {
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

body {
    background-color: yellow;
}

h1 {
    margin-top: 30px;
    letter-spacing: 10px;
}

button {
    margin-top: 30px;
    @include btn;
}

button:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}

#addBook {
    width: 250px;
    @include card;
    display: none;
    margin: 50px auto;
    height: 200px;
    h2 {
        margin-bottom: 10px;
    }
    input,
    select {
        margin: 5px 0px;
    }
}

#cardSection {
    display: flex;
    flex-flow: row wrap;
    .divElement {
        @include card;
        max-width: 150px;
        margin: 10px;
        p {
            margin: 5px 0px;
        }
        button {
            @include btn;
            margin: 10px auto 0px;
            border: 2px solid white;
        }
        button:hover {
            color: black;
            cursor: pointer;
            background-color: white;
        }
    }
}